<div id="main" class="card mb-3 border-1 mt-3">
  <div class="card-header">SEARCH</div>
  <div class="card-body mx-auto" id="mainBody">
    {{#each movies}}
      <div class="card border-1 product mb-1">
        <div onclick="window.location='/movie/{{id}}'">
        <div class="wrap mx-auto pt-4">
          <img class="card-img-top" src="{{img}}" alt="{{id}}" />
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">{{title}}</h4>
          <p class="card-text">"{{year}}"</p>
          <p class="card-text">Rank: {{topRank}}- Rating: {{rating}}</p>
        </div>
      </div>
      <input
        type="submit"
        class="btn btn-success"
        onclick="window.location='/user/deleteMovie/{{id}}'"
        value="eraser"
      />
      <input
        type="submit"
        class="btn btn-success"
        onclick="window.location='/user/add/{{id}}'"
        value="Add"
      />
      </div>
    {{/each}}
    {{#each casts}}
       <div class="card border-1 product mb-1">
        <div class="wrap mx-auto pt-4">
          <img class="card-img-top" src="{{image}}" alt="{{id}}" />
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">{{legacyNameText}}</h4>
          <p class="card-text">"{{name}}-{{gender}}"</p>
          <p class="card-text">{{birthDate}}</p>
          <p class="card-text">{{birthPlace}}</p>
          <p class="card-text">{{heightCentimeters}}</p>
          <p class="card-text">{{nicknames}}</p>
          <p class="card-text">{{realName}}</p>
        </div>
      </div>
    {{/each}}
  </div>
  <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a
            class="page-link"
            href="/search/{{a}}"
            aria-label="Previous"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item  d-block"><a
            class="page-link"
            href="/search/{{page}}"
          >{{page}}</a></li>

          <a
            class="page-link"
            href="/search/{{b}}"
            aria-label="Next"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
</div>